<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:d="http://typo3.org/ns/DigitalMarketingFramework/Typo3/Core/ViewHelpers"
      data-namespace-typo3-fluid="true"><f:spaceless>

    <f:for each="{f:constant(name:'\DigitalMarketingFramework\Core\ConfigurationEditor\MetaData::SCRIPTS')}" as="path" key="name">
        <f:asset.script identifier="dmf-dce-{name}" src="{d:be.vendorAsset(path:path)}" additionalAttributes="{type:'module'}" />
    </f:for>
    <f:for each="{f:constant(name:'\DigitalMarketingFramework\Core\ConfigurationEditor\MetaData::STYLES')}" as="path" key="name">
        <f:asset.css identifier="dmf-dce-{name}" href="{d:be.vendorAsset(path:path)}" />
    </f:for>
    <f:for each="{f:constant(name:'\DigitalMarketingFramework\Core\ConfigurationEditor\MetaData::ASSETS')}" as="path">
        <d:be.vendorAsset path="{path}" returnUrl="0" />
    </f:for>
</f:spaceless></html>
