<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:d="http://typo3.org/ns/DigitalMarketingFramework/Typo3/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:asset.script identifier="dmf-dce-script"
                    src="{d:vendorAsset(src:'digital-marketing-framework/core/assets/scripts/configuration-document-editor.js')}" />
    <f:asset.css identifier="dmf-dce-styles"
                 href="{d:vendorAsset(src:'digital-marketing-framework/core/assets/styles/configuration-document-editor.css')}" />

</html>