<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Fullwidth" />

    <f:section name="Buttons"></f:section>

    <f:section name="Content">
        <h1>Digital Marketing</h1>

        <f:if condition="{alerts}">
            <div>
                <f:for each="{alerts}" as="alert">
                    <f:be.infobox title="{alert.title}" state="{alert.state}">
                        {alert.content}
                    </f:be.infobox>
                </f:for>
            </div>
        </f:if>

        <div class="card-container">
            <f:for each="{sections}"
                   as="section">
                <div class="card card-size-fixed-small">
                    <div class="card-header">
                        <div class="card-icon">
                            <f:image src="{f:if(condition:section.icon, then:section.icon, else:'EXT:dmf_core/Resources/Public/Icons/Extension.svg')}"
                                     width="64"
                                     height="64"
                                     class="card-header-icon-image" />
                        </div>
                        <div class="card-header-body">
                            <h1 class="card-title">{section.title}</h1>
                            <span class="card-subtitle">{section.subtitle}</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{section.description}</p>
                    </div>
                    <div class="card-footer">
                        <f:link.action controller="{section.controller}"
                                       action="{section.action}"
                                       class="btn btn-primary">
                            {section.actionLabel}
                        </f:link.action>
                    </div>
                </div>
            </f:for>
        </div>
    </f:section>

</html>
