<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="Buttons"></f:section>

    <f:section name="Content">
        <h1>Configuration Documents</h1>

        <f:form action="create">
            <label for="create-document-name">New Configuration Document:
                <f:form.textfield id="create-document-name"
                                  name="documentName"
                                  required="required" />
            </label>
            <f:comment>
                <f:form.submit value="create"><button>add</button></f:form.submit>
            </f:comment>
            <button type="submit">
                <core:icon identifier="actions-add"
                           size="small" />
            </button>
        </f:form>

        <div class="table-fit">
            <table id="configuration-documents"
                   class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{documents}"
                           as="document"
                           key="id">
                        <tr>
                            <td class="col-icon">

                                <span data-bs-toggle="tooltip"
                                      data-bs-placement="right"
                                      aria-label="id={document.shortId}">
                                    <core:icon identifier="content-form"
                                               size="small" />
                                </span>

                            </td>
                            <td class="col-title">

                                <f:link.action action="edit"
                                               title="Edit this configuration document"
                                               additionalAttributes="{data-toggle:'tooltip', data-placement:'right'}"
                                               arguments="{documentIdentifier: id}">{document.name}</f:link.action>

                            </td>
                            <td><code>{id}</code></td>
                            <td class="col-control">
                                <div class="btn-group"
                                     role="group">

                                    <f:link.action action="edit"
                                                   title="{f:if(condition:document.readonly, then:'View this configuration document', else:'Edit this configuration document')}"
                                                   class="btn btn-default form-record-open"
                                                   arguments="{documentIdentifier: id}">
                                        <core:icon identifier="{f:if(condition:document.readonly, then:'actions-file-view', else:'actions-open')}"
                                                   size="small" />
                                    </f:link.action>
                                </div>
                                <div class="btn-group dropdown position-static">
                                    <a href="#actions-{document.shortId}"
                                       class="btn btn-default dropdown-toggle dropdown-toggle-no-chevron"
                                       data-bs-toggle="dropdown"
                                       data-bs-boundary="window"
                                       aria-expanded="false">
                                        <core:icon identifier="actions-menu-alternative"
                                                   size="small" />
                                    </a>
                                    <ul id="actions-{document.shortId}"
                                        class="dropdown-menu dropdown-list">

                                        <li>
                                            <f:link.action action="edit"
                                                           arguments="{documentIdentifier: id}"
                                                           class="dropdown-item">
                                                <core:icon identifier="actions-duplicate"
                                                           size="small" />
                                                Duplicate this configuration document
                                            </f:link.action>
                                        </li>



                                        <f:if condition="!{document.readonly}">
                                            <li>
                                                <f:link.action action="delete"
                                                               arguments="{documentIdentifier: id}"
                                                               class="dropdown-item">
                                                    <core:icon identifier="actions-edit-delete"
                                                               size="small" />
                                                    Delete this configuration document
                                                </f:link.action>
                                            </li>
                                        </f:if>

                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </div>
    </f:section>

</html>