<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <f:be.pageRenderer
        includeCssFiles="{0: '{f:uri.resource(path:\'Css/main.css\')}'}"
        includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/main.js\')}'}"
    />

    <f:flashMessages />
    <div id="digitalmarketingframework-be-content" class="dmf-be-content dmf-be-content--fullwidth">
        <f:render section="Content" />
    </div>

</html>
