<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:d="http://typo3.org/ns/DigitalMarketingFramework/Typo3/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Buttons"></f:section>

<f:section name="Content">
    <f:comment></f:comment>
    <f:render partial="ConfigurationDocument/ConfigurationEditorAssets" />

    <f:form action="save">
        <div>
            <p>
                <button class="btn btn-default btn-sm t3-form-element-save-form-button"
                        value="save"
                        title="Save"
                        type="submit">
                    <core:icon identifier="actions-document-save"
                               size="small" />
                    Save
                </button>
            </p>
        </div>

        <h1>Global Settings</h1>

        <div>
            <f:form.textarea name="document"
                             value="{document}"
                             class="dmf-configuration-document"
                             style="width:60%;min-height:400px;"
                             data="{d:be.configurationEditor.dataAttributes(mode:'embedded', ready:1, readonly:0, globalDocument:0,baseRoute:'globalconfiguration',includes:0)}" />
        </div>
    </f:form>
</f:section>
</html>
